
*{
    margin: 0px;
    padding: 16px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    color: cadetblue;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}

section{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    height: fit-content;
}

p{
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
}
p:hover{
    background-color: blanchedalmond;
}

.questionNumber{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 16px;
}

#rightWrong{
    position: relative;
    left: 80px;
}